
.stats {
  display: flex;
  flex-direction: column;
  font-size: 0.4em;
  padding: 0.5em 1em;
  justify-content: center;
}

.stats .details {
  display: flex;
  flex-direction: row;
  /* padding: 0 3em; */
  justify-content: center;
}

.stats .details > div {
  display: flex;
  width: 4.5em;
  flex-direction: column;
  padding: 0.1em 0.6em;
  align-items: center;
  font-size: 0.6em;
}

.stats .details > div.glow {
  box-shadow: 2px 4px 5px rgba(255, 255, 255, 0.1);
}