:root {
  --bg_color: rgb(48, 48, 53);
  --bg_color_dark: rgb(43, 43, 50);
  --fg_color: rgb(215, 226, 235);
  --bubble_shadow: 2px 10px 13px rgba(0, 0, 0, 0.12);
  --bubble-radius: 20px;
  --bubble-padding: 10px;
  --bubble-margin: 17px;
  --nav-size: 3.5em;
  --nav_shadow: 2px 10px 17px rgba(0, 0, 0, 0.2);
  --nav-font: 0.5em;
  --button-radius: 8px;
  --button-color: rgb(0, 89, 255);
  --button-color-dark: rgb(0, 77, 221);
  --button-shadow: 2px 5px 2px rgba(0, 0, 0, 0.12);
  --button-hover-shadow: 2px 5px 8px rgba(0, 0, 0, 0.2);
  --button-active-shadow: 2px 2px 2px rgba(0, 0, 0, 0.12);
  --yellow: rgba(223, 193, 60, 0.5);
  --red: rgba(255, 139, 139, 0.5);
  --green: rgba(119, 255, 165, 0.5);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--fg_color);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  outline: none !important;
  scrollbar-base-color: transparent;
  scrollbar-face-color: transparent;
  overflow: visible;
}

::-webkit-scrollbar {
  background-color: rgba(131, 131, 131, 0.043);
  border-radius: 0.2em;
  height: 0.4em;
  width: 0.4em;
}

::-webkit-scrollbar-corner {
  background-color: rgba(131, 131, 131, 0.043);
}

::-webkit-scrollbar-thumb {align-items: center;
  justify-content: center;
  background-color: rgba(131, 131, 131, 0.154);
  border: 0.1em solid transparent;
  border-radius: 0.2em;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(131, 131, 131, 0.199);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--fg_color);
  background-color: var(--bg_color);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: rgb(27, 139, 213);
  text-decoration: none;
  cursor: pointer;
}

.nav {
  text-align: left;
  /* top: 0;
  left: 0;
  right: 0; */
  /* height: var(--nav-size); */
  /* position: absolute; */
  /* color: var(--fg_color); */
  box-shadow: var(--nav_shadow);
  /* overflow-y: hidden; */
  /* font-size: var(--nav-font); */
  /* text-align: center;
  vertical-align: middle; */
  backdrop-filter: blur(23px);
  background-color: transparent;
}

.board {
  padding-top: var(--nav-size);
  padding-bottom: var(--nav-size);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.menu {
  background-color: var(--bg_color);
  color: var(--fg_color);
}






.dashboard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: calc(var(--bubble-margin) / 2);
}

.bubble {
  margin: calc(var(--bubble-margin) / 2);
  padding: var(--bubble-padding);
  border-radius: var(--bubble-radius);
  /* display: inline-block; */
  background-color: var(--bg_color_dark);
  text-align: left;
  display: flex;
  /* flex-direction: column; */
  align-items: space-between;
  justify-content: space-between;
  min-width: 10em;
  transition: box-shadow 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.bubble:hover {
  box-shadow: var(--bubble_shadow);
}
.bubble:hover:active {
  box-shadow: 2px 5px 3px rgba(0,0,0,0.12);
}
.bubble * {
  display: flex;
  /* align-items: flex-end; */
}
.avatar {
  margin-right: 0.5em;
}
.me {
  box-shadow: none;
  padding: 0.5em;
  font-size: 1.8em;
  /* transform: scale(1.5); */
  background-color: transparent;
}
.stats {
  display: flex;
  flex-direction: column;
  font-size: 0.4em;
  padding: 0.5em 1em;
  justify-content: center;
}

.name {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}
.bio {
  font-size: 0.5em;
}
/* ..score {
  align-self: flex-start;
  border-radius: 100%;
  width: 1em;
  height: 1em;
  margin: 0.2em;
  background-color: #296f97;
} */

.score {
  border-radius: 100%;
  background-color: rgb(151, 151, 151);
  width: 1.7em;
  height: 1.7em;
  /* padding: 0.2em; */
  /* margin: 0.2em; */
  /* line-height: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
.score.high {
  background-color: rgb(19, 172, 108);
}
.score.low {
  background-color: rgb(187, 157, 23);
}
.score.bad {
  background-color: rgb(216, 77, 77);
}
.score.good {
  background-color: var(--button-color);
}